**/obj/
**/bin/
**/.vs/
**/obj/Debug/
**/bin/Debug/
**/bin/Release/
**/obj/Release/
**/__test_*.*
**/__test_log.log
**/__test_log.txt
**/__test_result_grep.txt
**/.suo
**/obj/**/*.cache
**/.git/
settingFileSender.json
settingImageViewer.json